{% load static %}

<nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="myNav">
	  <a class="navbar-brand" href="#">
	  		<img style="height:30px"src="{% static "img/logo.png" %}" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      	<li class="nav-item">
	      		<a class="nav-link" href="/" title="">home</a>
	      	</li>
	      	<li class="nav-item">
	      		<a class="nav-link" href="/blog" title="">blog</a>
	      	</li>
	      	<li class="nav-item">
	      		<a class="nav-link" href="/about" title="">about</a>
	      	</li>
	    </ul>
	  </div>
	</nav>