#banner {
	width:100%;
}

h1 {
	color: #555;
	font-family: arial;
}

nav ul {
	background-color: #555;
	list-style-type: none;
	margin:0;
	overflow: hidden;
	padding:0;
}
nav li {
	float: left;
}

nav a{
	color: #fff;
	display:block;
	font-family: arial;
	padding: 10px 10px;
	text-decoration: none;
}

nav a:hover{
	background-color:#f00;
}